/* adding a google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    padding: 50px 240px;
    background-color: rgba(255, 144, 14, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
}

.first-heading{
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

.nav-items{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

.main-header-div{
    text-align: center;
}

.about-us{
    color: #131313;
    font-size: 4rem;
    text-align: center;
    margin-top: 150px; 
    max-width: 862px;
    margin: 0 auto; 
    font-weight: 700;
}

.about-para{
    color: #727272;
    text-align: center;
    max-width: 862px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 26px;
}

.c-btn{
    padding: 20px 25px;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    margin-top: 55px;
    margin-bottom: 65px;
    cursor: pointer;
}
.c-btn:hover{
    opacity: 0.7;
}
.c-btn:active{
    opacity: 0.5;
}

.banner img{
    width: 100%;
}

.main-section{
    padding: 0px 300px;
    display: flex;
    align-items: center;
    margin: 120px auto;
}

.main-pic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.team-title{
    margin-left: 76px;
    margin-top: 100px;
}

.team-heading .quick-list{
    color: #727272;
    font-weight: 500;
    font-size: 3rem;
}

.team-heading .of-our{
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

.team-heading .features-span{
    color: #FF900E;
    font-weight: 700;
    font-size: 3rem;
}

.team-para{
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    max-width: 537px;
    margin-top: 24px;
}

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        margin-bottom: 40px;
        gap: 15px;
}
    .main-section{
        flex-direction: column;
        padding: 20px;
    }
    .main-pic{
        display: grid;
        grid-template-columns: 1fr;
    }
    .team-title{
        margin-left: 15px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }    
    nav{
        flex-direction: column;
        margin-bottom: 50px;     
        gap: 20px;
        text-align: center;
    }

    nav li{
        margin: 0px auto;
    }
    .main-section{
        flex-direction: column;
    }
    .team-title{
        margin-left: -100px;
    }
}